{% extends "base.html" %}

{% block content %}
  <div class="d-flex align-items-center text-white p-3 m-3">
    <h2>Ingredients</h2>
    <a href="{% url 'kitchen:ingredient-create' %}" class="btn btn-warning ml-3">Create</a>
  </div>
  {% for ingredient in ingredient_list %}
    <div class="container mt-4">
      <div class="card text-white bg-default mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
          <div>Options</div>
          <div>
            <a href="{% url 'kitchen:ingredient-update' pk=ingredient.id %}" class="btn btn-warning">Update</a>
            <a href="{% url 'kitchen:ingredient-delete' pk=ingredient.id %}" class="btn btn-danger">Delete</a>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Ingredient: {{ ingredient.name }}</h5>
          <p class="card-text">Category: {{ ingredient.category }}</p>
          <p class="card-text">Description: {{ ingredient.description }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
